<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TODO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <script>
      $(document).ready(function(){
        M.AutoInit();
      });
    </script>
  </head>
  <body>
    {% block navigation %}
    {% endblock %}
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
